<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I'm a former pro gamer turned programmer and a creative technologist with a passion for gaming.
            Still green to the tech industry, I'm looking to disrupt old ways of thinking, one project at a time.
            I hope to incorporate my soft skills as a professional gamer and achieve even greater results than before.
        </p>
        <p>
            I love building things.
            While hard engineering problems are often intrinsically fun to tackle,
            I'm most attracted to solving real customer problems with a business justification.
            I'm looking for a junior developer role where I can take on collaborative
            team projects, and gain experience under the wings of great mentors.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Past Projects</h3>
		    <ul>
          <li>
              <a href="https://github.com/1ung/game_project_1"><b>Speedtyping</b></a>
              <p>
                A simple typing speed game that calculates your Word Per Minute (WPM) 
                to keep track of how fast you type with precision.
              </p>
              <p>Built with HTML5 / Bootstrap / JavaScript</p>
            </li>
          <li>
              <a href="https://github.com/1ung/full-stack-application-project_2"><b>ThirstyGoWhere</b></a>
              <p>An online club review platform inspired by yelp but for clubs</p>
              <p>Built with NodeJS / Express / Postgresql / Semantic UI</p>
          </li>
    			<li>
              <a href="https://github.com/1ung/project-3"><b>Patient Management System</b></a>
              <p>
                Telemedicine app that digitise the consultation process.
                Getting rid of the need to travel to clinics for simple and minor issues
                such as collecting medical report(s).
              </p>
              <p>Built with Ruby on Rails / MaterializeCSS</p>
          </li>
    			<li>
              <a href="https://github.com/1ung/ga-final-project"><b>Seenima</b></a>
              <p>
                Basic Fetch API movie app which populates a list of movies upon search
              </p>
              <p>Built with ReactJS / NodeJS / Express</p>
          </li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
