<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
					<b>Gaming</b>. All work no play makes Jack a dull boy. 
					I mainly play Multiplayer online battle arena (MOBA) games, such as DOTA 2 and Mobile Legends.
					I do not enjoy games which are pay to win or requires any form of expenditure.
			  </li>
			  <li>
					<b>Chilling With the Bros</b>. What better than to hang out with the people who knows you best
					when taking a break from coding.
			  </li>
			  <li>
					<b>YouTube</b>. Don't get me wrong, I keep myself up to date and learn new stuff
					at times from channels like Traversy Media (not a paid advertisement).
			</li>
			</ul>
		</div>
    <div class="col-sm-6">
  		    <h3>Other Things</h3>
  		    <ul>
  			<li>
           <b>Gosucup Asia VI</b>
					 <p>Champion</p>
  			</li>
  			<li>
  			  <b>Flash DOTA 2 League Season 2</b>
					<p>1st runner-up</p>
  			</li>
				<li>
					<b>Netolic Pro League Season 2 East</b>
					<p>2nd runner-up</p>
				</li>
				<li>
					<b>Chaos Online Singapore (2013)</b>
					<p>Champion</p>
				</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
